.wrapper {
  background-color: #f4fbef;
  padding-top: 40px;
  padding-bottom: 40px;
  .title {
    color: #1a1c1f;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    padding-bottom: 40px;
  }
  .text {
    color: #1a1c1f;
    font-weight: 500;
    font-size: 24px;
  }
  .paddingEnd {
    padding-inline-end: 127px;
  }
}
.wrapperColor {
  margin-top: 32px;
  border: 1px solid #000000;
  border-radius: 32px;
  padding: 16px 16px 16px 24px;
  .text {
    color: #1a1c1f;
    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
  }
  .phone {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
    direction: ltr;
  }
}

@media only screen and (max-width: 1280px) {
  .wrapper {
    .paddingEnd {
      padding-inline-end: 32px;
    }
    .text {
      font-size: 18px;
    }
  }
  .wrapperColor {
    .phone {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    .paddingEnd {
      padding-inline-end: 40px;
    }
    .text {
      font-size: 20px;
    }
  }
  .wrapperColor {
    .phone {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    :global .image-res {
      max-width: 296px !important;
      width: 100% !important;
    }
    .paddingContainerEnd {
      padding-inline-end: 0px;
    }
    .title {
      font-size: 32px;
    }
  }
  .wrapperColor {
    .phone {
      font-size: 14px;
    }
    .text {
      font-size: 14px;
    }
  }
}
