.wrapper {
  padding-left: 16px;
  padding-right: 16px;
  .header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      color: #1a1c1f;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
    }
    .btnClose {
      width: 40px;
      height: 40px;
      padding: 0;
      box-shadow: 0 0 0px;
      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .main {
    .title {
      padding-top: 16px;
      padding-bottom: 16px;
      color: #1a1c1f;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
    }
    .btnFilter {
      border: #74797f 1px solid !important;
      border-radius: 8px;
      height: 32px;
      padding: 6px 16px 6px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #44474e !important;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
    .btnFilterActive {
      background-color: #e7f48a;
      border: 0;
      border-radius: 8px;
      height: 32px;
      padding: 6px 16px 6px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #1a1e00 !important;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .fotter {
    height: 72px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    position: absolute;
    bottom: 0;
    width: calc(100% - 32px);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    .filter {
      background-color: #2d5da7 !important;
      width: 50%;
      border-radius: 20px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      height: 40px;
      border: 0 !important;
      color: white !important;
      box-sizing: 0 0 0px;
    }
    .deleteFilter {
      background-color: white;
      width: 50%;
      border-radius: 20px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      height: 40px;
      border: 1px solid #74797f !important;
      color: #2d5da7 !important;
      box-sizing: 0 0 0px;
    }
  }
}
