@import "@/styles/theme.module.scss";

.wrapper {
  background-image: url("/assets/images/svgs/main.svg");
  width: 100%;
  max-width: 1440px;
  height: 518px;
  padding-top: 128px;
  padding-bottom: 80px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  .title {
    color: #ffffff;
    font-weight: 900;
    font-size: 56px;
    line-height: 88px;
    z-index: 2;
  }
  .text {
    color: #44474e;
    line-height: 28px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 8px;
    z-index: 2;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .btns {
    background-color: $primary;
    width: 256px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    color: #ffffff !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    z-index: 2;
    position: absolute;
    bottom: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    background-image: url("/assets/images/svgs/main-mobile.svg");
    height: 550px;
    padding-top: 76px;
    .title {
      color: #ffffff;
      font-weight: 900;
      font-size: 32px;
      line-height: 50px;
      z-index: 2;
    }
    .text {
      font-size: 12px;
      line-height: 24px;
    }
    .btns {
      background-color: $primary;
      width: calc(100% - 32px);
      height: 40px;
      border-radius: 20px;
      border: 0;
      color: #ffffff !important;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      z-index: 2;
      position: absolute;
      bottom: 32px;
    }
  }
}
