.wrapper {
  background-color: #f9fafa;
  padding-top: 56px;
  padding-bottom: 48px;
  .wrapperStore {
    .storeTitle {
      color: #1a1c1f;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
    }
    .storeText {
      color: #1a1c1f;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .wrapperFilter {
    border: 1px solid #74797f;
    border-radius: 16px;
    padding: 16px;
    position: sticky;
    top: 96px;
    .btnDelete {
      width: 86px;
      height: 40px;
      background-color: transparent;
      border: 0;
      color: #2d5da7 !important;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      box-shadow: 0 0 0px;
      padding: 0;
    }
    .btnFilter {
      border: #74797f 1px solid !important;
      border-radius: 8px;
      height: 32px;
      padding: 6px 16px 6px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #44474e !important;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
    .btnFilterActive {
      background-color: #e7f48a;
      border: 0;
      border-radius: 8px;
      height: 32px;
      padding: 6px 16px 6px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #1a1e00 !important;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
    // Collapse
    [class~="ant-collapse"] {
      border: 0;
      [class~="ant-collapse-item"] {
        border-bottom: 0 !important;
      }
    }
    [class~="ant-collapse-header"] {
      background-color: #f9fafa;
      border-radius: 8px;
      border: 0;
      padding: 16px 0px 16px 0px;
      height: 56px;
    }
    [class~="ant-collapse-content"] {
      border-top: 0;
      background-color: #f9fafa;
      [class~="ant-collapse-content-box"] {
        padding: 0px 0px 16px 0px;
      }
    }
  }
  .btnMore {
    border: 1px solid #74797f !important;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    color: #2d5da7 !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    &:disabled {
      background-color: #1a1b1f1f;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      border: 0 !important;
      color: #1a1b1f61 !important;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .btnAddFilter {
    border: 1px solid #74797f !important;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    color: #2d5da7 !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    &:disabled {
      background-color: #1a1b1f1f;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      border: 0 !important;
      color: #1a1b1f61 !important;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }
  // Tabs
  [class~="ant-tabs-nav"] {
    &::before {
      bottom: -1px;
      border-bottom: 1px solid #e0e4ec;
    }
  }
  [class~="ant-tabs-nav-wrap"] {
    justify-content: center;
  }
  [class~="ant-tabs-tab-btn"] {
    color: #44474e;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  [class~="ant-tabs-tab-active"] {
    [class~="ant-tabs-tab-btn"] {
      color: #2d5da7 !important;
    }
  }
  [class~="ant-tabs-tab"] {
    &:nth-child(1) {
      margin: 0 !important;
      margin-inline-end: 43px !important;
      height: 48px;
      padding: 12px 0px 14px 0px;
    }
    &:nth-child(2) {
      margin: 0 !important;
      margin-inline-start: 43px !important;
      height: 48px;
      padding: 12px 0px 14px 0px;
    }
  }
  [class~="ant-tabs-ink-bar"] {
    background-color: #2d5da7;
    height: 3px !important;
    border-radius: 24px 24px 0px 0px;
  }
  .filterDiactive {
    background-color: #e0e4ec;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0 !important;
  }
  .list {
    background-color: #f9fafa;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    .item {
      height: 72px;
      display: flex;
      align-items: center;
      .title {
        color: #1a1c1f;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
      .text {
        color: #44474e;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    background-color: white;
  }
}
