.wrapper {
  position: relative;
  .footer {
    position: absolute;
    bottom: 124px;
    left: 120px;
    height: 252px;
    width: 528px;
    .title {
      color: #001b3f;
      font-weight: 700;
      font-size: 44px;
      line-height: 64px;
      margin-bottom: 0px;
    }
    .text {
      color: #44474e;
      font-weight: 500;
      font-size: 16px;
      margin-top: 0px;
      line-height: 28px;
      margin-bottom: 8px;
    }
    .badge {
      margin-top: 24px;
      background-color: #f5faff;
      height: 52px;
      display: flex;
      align-items: center;
      border-radius: 16px;
      .titleBadge {
        color: #2d5da7;
        line-height: 28px;
        font-size: 20px;
        font-weight: 600;
      }
      .textBadge {
        color: #1a1c1f;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .wrapper {
    position: relative;
    .footer {
      position: absolute;
      bottom: 30px;
      left: 120px;
      height: 252px;
      width: 528px;
      .title {
        color: #001b3f;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 0px;
      }
      .text {
        color: #44474e;
        font-weight: 500;
        font-size: 16px;
        margin-top: 0px;
        line-height: 28px;
        margin-bottom: 8px;
      }
      .badge {
        margin-top: 24px;
        background-color: #f5faff;
        height: 52px;
        display: flex;
        align-items: center;
        border-radius: 16px;
        .titleBadge {
          color: #2d5da7;
          line-height: 28px;
          font-size: 20px;
          font-weight: 600;
        }
        .textBadge {
          color: #1a1c1f;
          font-weight: 600;
          font-size: 28px;
          line-height: 36px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    position: relative;
    .footer {
      position: absolute;
      bottom: 40px;
      left: 60px;
      height: 252px;
      width: 428px;
      .title {
        color: #001b3f;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 0px;
      }
      .text {
        color: #44474e;
        font-weight: 500;
        font-size: 16px;
        margin-top: 0px;
        line-height: 28px;
        margin-bottom: 8px;
      }
      .badge {
        margin-top: 24px;
        background-color: #f5faff;
        height: 52px;
        display: flex;
        align-items: center;
        border-radius: 16px;
        .titleBadge {
          color: #2d5da7;
          line-height: 28px;
          font-size: 20px;
          font-weight: 600;
        }
        .textBadge {
          color: #1a1c1f;
          font-weight: 600;
          font-size: 28px;
          line-height: 36px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    position: relative;
    .footer {
      position: absolute;
      bottom: 16px;
      left: 60px;
      height: 258px;
      width: 446px;
      .title {
        color: #001b3f;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 0px;
      }
      .text {
        color: #44474e;
        font-weight: 500;
        font-size: 16px;
        margin-top: 0px;
        line-height: 22px;
        margin-bottom: 8px;
      }
      .badge {
        margin-top: 16px;
        background-color: #f5faff;
        height: 52px;
        display: flex;
        align-items: center;
        border-radius: 16px;
        .titleBadge {
          color: #2d5da7;
          line-height: 28px;
          font-size: 20px;
          font-weight: 600;
        }
        .textBadge {
          color: #1a1c1f;
          font-weight: 600;
          font-size: 28px;
          line-height: 36px;
        }
      }
    }
  }
}

@media only screen and (max-width: 930px) {
  .wrapper {
    position: relative;
    .footer {
      position: absolute;
      bottom: 16px;
      left: 60px;
      height: 216px;
      width: 325px;
      .title {
        color: #001b3f;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 0px;
      }
      .text {
        color: #44474e;
        font-weight: 500;
        font-size: 16px;
        margin-top: 0px;
        line-height: 22px;
        margin-bottom: 8px;
      }
      .badge {
        margin-top: 16px;
        background-color: #f5faff;
        height: 44px;
        display: flex;
        align-items: center;
        border-radius: 16px;
        .titleBadge {
          color: #2d5da7;
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
        }
        .textBadge {
          color: #1a1c1f;
          font-weight: 600;
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    position: relative;
    .footer {
      position: absolute;
      bottom: 40px;
      left: 16px;
      height: 173px;
      width: calc(100% - 32px);
      .title {
        color: #001b3f;
        font-weight: 600;
        font-size: 24px;
        line-height: 40.5px;
        margin-bottom: 0px;
      }
      .text {
        color: #44474e;
        font-weight: 400;
        font-size: 14px;
        margin-top: 0px;
        line-height: 28px;
        margin-bottom: 0px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
      .badge {
        margin-top: 16px;
        background-color: #f5faff;
        height: 47px;
        display: flex;
        align-items: center;
        border-radius: 16px;
        .titleBadge {
          color: #2d5da7;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
        }
        .textBadge {
          color: #1a1c1f;
          font-weight: 600;
          font-size: 24px;
          line-height: 31.2px;
        }
      }
    }
  }
}
