.wrapper {
  [class~="ant-collapse"] {
    border: 1px solid #c4c8d0 !important;
    border-radius: 24px;
    background-color: white;
  }
  [class~="ant-collapse-header"] {
    background-color: white;
    padding: 20px 24px !important;
    align-items: center !important;
    height: 70px;
    border-radius: 24px !important;
  }
  [class~="ant-collapse-content"] {
    border-top: 0px;
    border-radius: 0 0 24px 24px !important;
  }
  [class~="ant-collapse-arrow"] {
    background-image: url("/assets/images/svgs/plus.svg");
    width: 24px;
    height: 24px;
  }

  [class~="ant-collapse-item-active"] {
    border-bottom: 0px;
    [class~="ant-collapse-header"] {
      border-radius: 24px 24px 0px 0px !important;
      margin: 20px 24px 0px 24px !important;
      padding: 0 !important;
      height: 32px;
    }
    [class~="ant-collapse-arrow"] {
      background-image: url("/assets/images/svgs/mines.svg");
      width: 24px;
      height: 24px;
    }
  }
  [class~="ant-collapse-header-text"] {
    color: #1a1c1f;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }

  [class~="ant-collapse-item"] {
    border-bottom: 0;
  }

  [class~="ant-collapse-content-box"] {
    padding: 8px 24px 20px 24px !important;
    p {
      color: #77787a;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
    }
    a {
      color: #2d5da7;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    [class~="ant-collapse"] {
      border: 1px solid #c4c8d0 !important;
      border-radius: 16px;
      background-color: white;
    }
    [class~="ant-collapse-header"] {
      background-color: white;
      padding: 12px 16px !important;
      height: auto;
      border-radius: 16px !important;
      display: flex !important;
      align-items: center !important;
    }
    [class~="ant-collapse-content"] {
      border-top: 0px;
      border-radius: 0 0 16px 16px !important;
    }
    [class~="ant-collapse-item-active"] {
      border-bottom: 0px;
      [class~="ant-collapse-header"] {
        border-radius: 16px 16px 0px 0px !important;
        margin: 12px 16px 0px 16px !important;
        padding: 0 !important;
        height: auto;
      }
    }
    [class~="ant-collapse-header-text"] {
      color: #1a1c1f;
      font-weight: 400;
      font-size: 12px;
      line-height: 24px;
    }

    [class~="ant-collapse-item"] {
      border-bottom: 0;
    }

    [class~="ant-collapse-content-box"] {
      padding: 8px 16px 12px 16px !important;
      p {
        color: #77787a;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
      }
      a {
        color: #2d5da7;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        text-decoration: underline;
      }
    }
  }
}
