.wrapper {
  height: 112px;
  display: flex;
  width: 100%;
  align-items: center;
  .text {
    color: #46484a;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .title {
    color: #1a1c1f;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}
