.wrapper {
  [class~="ant-input-affix-wrapper"] {
    background: #e6e9f5;
    border-radius: 72px;
    border: 0;
    height: 56px;
    input {
      background: #e6e9f5;
      &::placeholder {
        color: #44474e;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
    }
    [class~="ant-input-prefix"] {
      margin-inline-end: 8px;
    }
  }
}
