.wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f9fafa;
  .title {
    color: #1a1c1f;
    font-weight: 600;
    font-size: 32px;
    line-height: 41.6px;
    text-align: center;
  }
  .boxes {
    background-color: #e5f0ff;
    height: 72px;
    border-radius: 48px;
    padding: 16px 16px 16px 40px;
    .boxText {
      color: #1a1c1f;
      font-weight: 600;
      font-size: 16px;
      line-height: 20.8px;
    }
  }
}
