.wrapper {
  height: 112px;
  background-color: #f2f3fa;
  padding: 16px;
  border-radius: 16px;
  .title {
    color: #1a1c1f;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
  }
  .text {
    color: #44474e;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
  }
}
